* {
    box-sizing:border-box;
}body {
    margin:0;
}
.centraliza-conteudo{
    max-width:1200px;
    margin:0 auto;
}
#header{
    width:100%;
    height:100px;
    background-color:#1c1c1c;
    padding-top:40px;
    position:fixed;
}
a.logo{
    color:#e5474b;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    float:left;
    text-decoration:none;
    font-size: 30px;  
}
a{
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    padding: 0px 0px 0px 29.4667px;
    text-align:right;
    font-weight: bold;
    text-decoration:none;
    font-size: 20px;        
}
#nav{
    float:right;
    text-align: right;
}
#banner{
    width:100%;
    height:500px;
    background-color: #0c0c0c;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;

}
.sub{
    width: 100%;
    height: 300px;
    background-size: cover;
    display:inline-block;
    
    
}
.topo{
    width: 100%;
    height:485px;
    padding: 10px;
    position: relative;
    margin: 0 auto;
}
.content{
    position: relative;
    width:50%;
    height: 500px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 40px;
    display: inline-block;
    float: left;
    

}
.image-fit{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-color: black;
}
.topo2{
    width: 100%;
    height: 200px;
    padding-top: 20px;
    position:relative;
}
.content2{
    position: relative;
    width:30%;
    height: 100px;
    margin: 0 auto;
    background-color: #ddd;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.conteudo2 p{
    width: 80%;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    display: block;
    color:#353839;
    line-height: 2;
    margin-bottom: 40px;
    ;

}
.botao a{
    margin-top: 40px;
    width:15%;
    background-color: transparente;
    color:#e5474b;
    border:solid 1px #e5474b;
    margin-bottom: 30px;
}

.conteudo3{
    width: 100%;
    height:50px;
}

#banner h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    width:50%;
    margin-bottom: 25px;

}

label{
    width:100%;
    display:inline-block;
    margin-bottom: 5px;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    
}
.texto{
    width:500px;
    font-size:15px;
    border: 2px solid #ccc;
    border-color:rgba(255, 255, 255, 0.25);
    outline:0;
    margin-top:6px;
    background-color: transparent;
    float: left;
    display: inline-block;
    
}
textarea{
    padding:10px;
    width:500px;
    height: 200px;
    font-size:15px;
    border: 2px solid  #ccc;
    border-color:rgba(255, 255, 255, 0.25);
    outline:0;
    margin-top:10px;
    resize:none;
    background-color: transparent;
}
 .content h3{
    display:block;
    font-size:30px;
    color:#e5474b;
    padding-top:50px;
    font-size: 30px;
    margin:0 auto;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.centraliza-conteudo h3{
    display:block;
    font-size:20px;
    color:#e5474b;
    padding-top:50px;
    font-size: 30px;
    margin:0 auto;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    
}
.sub h2{
    display:block;
    font-size:20px;
    color:#e5474b;
    padding-top:50px;
    font-size: 30px;
    margin:0 auto;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.button {
    padding:10px;
    font-size:15px;
    border: 2px solid #ccc;
    background-color: transparent;
    border-color:rgba(255, 255, 255, 0.25);
    color:#ffffff;
}
#footer{
    display: inline-block;
    width:100%;
    height: 700px;
    background-color:#e5474b;
    color:#f2a3a5;
    position: relative;
    margin-top: 100px;
}
.rodape{
    position:relative;
    max-width:1200px;
    margin:0 auto;
    height: 600px;
    display:inline-block;
    
}
.question{
    width:50%;
    display:inline-block;
    padding: 20px;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    outline:0px;
    margin-top: 0px;
    float: left;
}
.question2{
    width:100%;
    display:inline-block;
    padding: 20px;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    outline:0px;
    

}
.envio input{
    width:15%;
    margin-left: 20px;
}
